@use "styles/helpers" as *;

.btn_consultation {
    border: none;
    font-family: "plus_jakarta";
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--light-cream);
    width: 176px;
    border-radius: 28px;
    padding: 0.5em 1em;
    cursor: pointer;
    transition: all 0.3s ease-out;
    @include breakpoint($medium) {
        width: 228px;
        font-size: 1rem;
        padding: 1em;
    }
}

.black_btn {
    background-color: var(--black);
    &:hover,
    &:focus {
        background-color: var(--galactic-blue);
    }
}
.red_btn {
    background-color: var(--light-red);
    &:hover,
    &:focus {
        background-color: var(--summer-yellow);
    }
}
