@use "styles/helpers" as *;

.footer_container {
    padding-top: 40px;
    padding-bottom: 32px;
    @include padding;
    @include breakpoint($medium) {
        padding-top: 56px;
        padding-bottom: 56px;
        @include padding(medium);
    }

    @include breakpoint($large) {
        padding-bottom: 64px;
    }
}
.footer_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($large) {
        @include container;
    }
}

.logo {
    width: 48px;
    height: auto;
    @include breakpoint($medium) {
        width: 64px;
        height: auto;
    }
}
